* {box-sizing: border-box;}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

span#bold{
    font-weight: bold;
}

.headerup {
    overflow: hidden;
    background-color:#222831;
    padding: 20px 10px;
  }
  
  .headerup a {
    float: left;
    color: blanchedalmond;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .headerup a.logo {
    font-size: 30px;
    font-weight: bold;
  }
  
  .headerup a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .headerup a.active {
    background-color: #30475e;
    color: white;
  }
  
  .header-right {
    float: right;
    color: blanchedalmond;
  }

div#divWelcome{
    height: 100%;
    width: 100%;
    position: relative;
    background-color:#313131;
    padding: 4px;
    overflow: hidden;
    border-bottom: 3px solid black;
}


div#welContainer{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

div#welContainer>h1{
    font-size: 100px;
    font-weight: 500;
    color: black;
    background-color: blanchedalmond;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


div#divAbout{
    height: 100%;
    width: 100%;
    position: relative;
    background-color:#525252;
    padding: 4px;
    overflow: hidden;
    border-bottom: 3px solid black;
}

.grid-container {
    margin-left: 10%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "img1 img2" "img3 img4";
    height: 100px;
    width: 100px;
  }
  
  .img1 { grid-area: img1; }
  
  .img2 { grid-area: img2; }
  
  .img3 { grid-area: img3; }
  
  .img4 { grid-area: img4; }

div#aboutContainer{
    position: absolute;
    top: 22%;
    left: 45%;
    background-color: blanchedalmond;
    padding: 20px;
    text-justify:distribute-all-lines;
    text-align:justify;
    border-radius: 10px;
}

div#divAbout>h1{
    text-align: center;
}

div#divEduc{
    height: 100%;
    width: 100%;
    position: relative;
    background-color:#ffffdd;
    padding: 4px;
    overflow: hidden;
    border-bottom: 3px solid black;
}

div.eduContainer{
    position: absolute;
    top: 30%;
    left: 15%;
    background-color:#525252;
    padding: 20px;
    text-justify:distribute-all-lines;
    text-align:justify;
    border-radius: 10px;
    color: blanchedalmond;
}

div#divEduc>h1{
    text-align: center;
}

div#image{
    position: absolute;
    top: 20%;
    left: 60%;
    padding: 10px;
    border-radius: 20px;
}

div#divOrg{
    height: 100%;
    width: 100%;
    position: relative;
    background-color:#525252;
    padding: 4px;
    overflow: hidden;
    border-bottom: 3px solid black;
}

div.orgContainer{
    position: absolute;
    top: 23%;
    left: 50%;
    background-color: blanchedalmond;
    padding: 20px;
    text-justify:distribute-all-lines;
    text-align:justify;
    border-radius: 10px;
}

div#divorg>div#image{
    position: absolute;
    top: 20%;
    left: 12%;
    padding: 20px;
}

div#divOrg>h1{
    text-align: center;
}

div#divWork{
    height: 100%;
    width: 100%;
    position: relative;
    background-color:#e7dfd5;
    padding: 4px;
    overflow: hidden;
    border-bottom: 3px solid black;
}

div.workContainer{
    position: absolute;
    top: 20%;
    left: 20%;
    background-color:#525252;
    padding: 20px;
    text-justify:distribute-all-lines;
    text-align:justify;
    border-radius: 10px;
    color: blanchedalmond;
}

div#divWork>h1{
    text-align: center;
}

div#divLink{
    height: 100%;
    width: 100%;
    position: relative;
    background-color:#525252;
    padding: 4px;
    overflow: hidden;
    border-bottom: 3px solid black;
}

div.linkContainer{
    position: absolute;
    top: 40%;
    left: 35%;
    padding: 20px;
    text-align:center;
    border-radius: 10px;
    color: blanchedalmond;
}

div#divLink>h1{
    text-align: center;
}

button{
    background: #092532;
    color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    display: block;
    width: 150px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    margin: 5 auto;
}

button:hover{
    background: #092532;
    color: white;
    border: 1px solid ivory;
    cursor: pointer;
}

a, a:visited{
    color: blanchedalmond;
    text-decoration: blanchedalmond;
}

a:hover{
    color: black;
}
